asgiref==3.8.1
black==24.4.2
bootstrap4==0.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2024.1
Django==5.0.7
django-appconf==1.0.6
django-crispy-forms==2.2
django-debug-toolbar==4.4.2
django-seed==0.3.1
django-select2==8.2.0
django-static-jquery==2.1.4
djangorestframework==3.15.2
Faker==26.0.0
flake8==7.1.0
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
idna==3.7
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pep8-naming==0.14.1
platformdirs==4.2.2
psycopg2==2.9.9
pycodestyle==2.12.0
pyflakes==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.31.0
setuptools==70.2.0
six==1.16.0
sqlparse==0.5.0
toposort==1.10
tzdata==2024.1
urllib3==2.2.2
