{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
  
  <form action="" method="get" class="form-inline mb-3">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"><a
          href="?sort=full_name&direction={% if request.GET.sort == 'full_name' and request.GET.direction == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Full
        Name</a></th>
      <th scope="col"><a
          href="?sort=position__hierarchy_level&direction={% if request.GET.sort == 'position__hierarchy_level' and request.GET.direction == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Position</a>
      </th>
      <th scope="col"><a
          href="?sort=hired&direction={% if request.GET.sort == 'hired' and request.GET.direction == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Hired</a>
      </th>
      <th scope="col"><a
          href="?sort=email&direction={% if request.GET.sort == 'email' and request.GET.direction == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Email</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

{% endblock %}
